
  
  .controls {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .piano {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
    margin-top: 50px;
  }
  
  .key {
    position: relative;
    height: 120px;
    width: 60px; /* 하얀 건반 너비 */
    margin: 1px 5px; /* 건반 간 간격 */
    background-color: #fff;
    border: 1px solid #000;
    cursor: pointer;
  }
  
  .blackKey {
    position: absolute;
    width: 40px; /* 검은 건반 너비 */
    height: 80px; /* 검은 건반 높이 */
    background-color: #000;
    color: #fff;
    margin: 0;
    top: 0;
    left: 50%; /* 기본 위치를 하얀 건반의 중앙으로 설정 */
    transform: translateX(-50%); /* X축 기준으로 -50% 이동하여 중앙 정렬 */
    z-index: 2;
  }
  
  .whiteKey {
    z-index: 1;
    background-color: #fff;
  }
  
  .controls button {
    padding: 10px;
    margin-right: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .controls button:hover {
    background-color: #45a049;
  }
  