.piano {
    display: flex;
    position: relative; /* 컨테이너에 상대적 위치 지정 */
    justify-content: center;
    margin: auto;
    margin-top: 50px;
  }
  
  .white, .black {
    position: absolute;
    height: 120px; /* 건반 높이 조정 */
    width: 60px; /* 건반 너비 조정 */
  }
  
  .white {
    background-color: #fff;
    z-index: 1;
  }
  
  .black {
    background-color: #000;
    color: #fff;
    width: 40px; /* 검은 건반은 더 좁게 */
    height: 80px; /* 검은 건반은 더 짧게 */
    top: 0;
    z-index: 2;
  }
  
  /* 검은 건반 위치 조정 */
  .black:nth-child(2) { left: 45px; }
  .black:nth-child(4) { left: 105px; }
  .black:nth-child(7) { left: 225px; }
  .black:nth-child(9) { left: 285px; }
  .black:nth-child(11) { left: 345px; }
  /* 추가 검은 건반 위치 조정 */
  