/* CSS */
.findFormContainer {
    margin-top: 10vh;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 10vh;

  }
  .findInput {
    flex: 2; /* 수정된 부분: 버튼이 차지하는 공간을 포함하여 input이 남은 공간을 차지하도록 수정 */
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.3s;
  
    width: 100%;
    padding: 10px;
    border: 1px solid #b3c9f1;
    margin-top: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s; /* 포커스 트랜지션 추가 */
  }
  
  .findInput:focus {
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
  }
  .findBtn {
    flex: 1; /* 수정된 부분: 버튼이 차지하는 공간을 포함하여 남은 공간을 차지하도록 수정 */
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: #3674EA;
    color: #fff;
  }
  
  .findBtn:hover {
    background-color: #D0E0FF;
  }

  .inputWithButton {
    display: flex;
    align-items: baseline; 
    gap: 10px;
    margin-bottom: 5vh;
  }
  .links {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .links a {
    margin-bottom: 10px;
    color: #3674EA;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
    color: #4682B4;
  }
.WithdrawalBtn {
  display: block; /* 블록 레벨 요소로 만들어 너비 조정이 가능하게 함 */
  width: 80%; /* 컨테이너 대비 버튼의 너비를 80%로 설정 */
  margin: 10px auto; /* 위아래 마진 10px, 좌우 마진은 자동으로 설정하여 중앙 정렬 */
  padding: 10px 0; /* 상하 패딩 10px, 좌우 패딩은 0으로 설정 */
  font-size: 16px; /* 글자 크기 설정 */
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: #D9534F; /* 경고성 짙은 빨간색 배경 */
  color: #fff; /* 흰색 글자 */
}

.WithdrawalBtn:hover {
  background-color: #C9302C; /* 호버 시 배경색 변경 */
}
